/******** SINGLE COLUMN ********/
@media (min-width: 0) {
  /**** GENERIC ****/
  body {
    font-family: Lato, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: #333;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-weight: 300;
  }
  h1 {
    font-weight: 300;
    margin-bottom: 0;
  }
  h4,
  h5 {
    font-size: 1em;
  }

  a {
    color: #333;
  }

  a:hover,
  a:focus,
  a.active {
    background-color: #eee;
  }
  address {
    margin-bottom: 1em;
    font-style: normal;
  }
  time:after {
    content: '|';
    padding: 0 0.25em;
  }

  img {
    max-width: 100%;
    margin-bottom: 0.5em;
  }

  th {
    text-align: left;
  }

  /**** HEADER ****/
  body > header {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  body > header:after {
    content: '';
    background-image: url('../image/icons/cmd_icon_robot.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(10deg);
  }

  body > header h1 {
    margin: 0;
  }

  header h1 em {
    font-style: normal;
    background-color: #000;
    color: #fff;
    margin-right: 0.1em;
    padding: 0 0.3em;
  }

  header p {
    margin: 0;
    font-size: 1.25em;
  }

  body > header {
    display: none;
  }

  /**** MENU NAVIGATION ****/
  nav {
    padding: 1rem;
    order: 3;
    background-color: #fff;
    margin: 0 -1rem;
  }

  nav h1 {
    margin: 0;
    font-weight: 300;
    line-height: 1.25em;
    font-size: 1.5em;
  }

  nav ul {
    padding: 0;
    margin: 0 0 1.25em 0;
    list-style-type: none;
    border-top: 1px solid #f0f0f0;
  }

  nav ul:first-of-type {
    border: none;
  }

  nav ul li {
    padding: 0;
    line-height: 1.25em;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    position: relative;
  }

  nav ul li:before {
    content: '\203A\00a0';
    position: absolute;
    top: calc(50% - 0.7em);
    left: 0.2rem;
    display: block;
    height: 1em;
  }

  nav ul li a {
    color: #333;
    padding: 0.5em 0.5em 0.5em 1em;
    display: block;
    width: 100%;
    text-decoration: none;
  }

  nav button {
    display: none;
  }

  /**** IN PAGE NAV ****/
  main > nav {
    display: block;
  }

  /**** MAIN ****/
  main {
    padding: 0;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    order: 2;
  }
  main header {
    margin-bottom: 1em;
  }
  main header > nav {
    padding-bottom: 0;
  }
  main section h1 {
    font-weight: bold;
  }
  body main > nav {
    background-color: #eee;
  }
  main > nav a:hover {
    background-color: #333;
    color: #fff;
  }
  main section > a,
  main article > a {
    display: block;
    margin: 2em 0 3em;
    padding-left: 1.5em;
    position: relative;
    line-height: 2;
  }
  main section > a:before,
  main article > a:before {
    content: '☝️';
    position: absolute;
    top: center;
    left: 0;
  }
  main h2 {
    font-size: 1.5em;
    margin: 1.5em 0 0.25em;
    font-weight: 300;
  }

  main h3 {
    font-size: 1.25em;
  }

  main p {
    margin-top: 0;
    line-height: 1.75;
  }

  main article {
    margin-bottom: 1rem;
    border-bottom: 1px solid #f0f0f0;
  }

  main article header h1 {
    font-size: 1em;
  }

  main article header h1 ~ * {
    font-size: 0.9em;
  }

  /**** FOOTER ****/
  footer {
    order: 4;
    display: none !important;
    /* hide temporarily */
  }
}

/******** >=TABLET ********/
@media (min-width: 45em) {
  body {
    max-width: 73em;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 15em 6fr;
    grid-template-rows: auto 5em;
    overflow-x: hidden;
  }

  body > header {
  }

  body > header a,
  body > header a * {
    text-decoration: none;
  }

  body > header a:hover {
    background-color: transparent;
  }

  /**** MENU NAVIGATION ****/
  body nav {
    background-color: transparent;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 0.8rem 0 0;
    transition: 0.25s;
  }

  body.hide-menu nav {
    transform: translateX(-30em);
  }

  nav ul,
  nav ul li {
    border: none;
  }

  nav button {
    display: block;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 0.5em;
    width: 50%;
    padding: 0.5em 0.25em;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  }

  body.hide-menu nav button {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    transform: translateX(43.5em);
    height: 2em;
  }

  /**** MAIN ****/
  main {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    max-width: 40em;
    transition: 0.25s;
  }

  body.hide-menu main {
    transform: translateX(-11em);
  }

  /**** FOOTER ****/
  footer {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.2rem;
  }
}

/**** Copy Moodle ****/
/* ### Vakoverzicht  tabel ### */
table {
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 100%;
  margin-top: 1em;
}
table a {
  text-decoration: none;
}

table th,
table td {
  padding: 0.2em 0.4em;
  border: 1px #fff solid;
  background: #ccc;
  text-align: center;
  font-size: 0.8em;
}

table th {
  white-space: nowrap;
}
table th ul {
  list-style: none;
  padding: 0;
}

table td {
  background: #eee;
  padding: 0;
}

table td.keuzevak {
  background: #999;
}

table thead th {
  width: 23%;
  line-height: 3;
}

table thead th:first-child {
  width: auto;
}

table tbody tr a {
  line-height: 1.3em;
}

table tbody tr a {
  min-height: 5em;
  padding: 0 0.65em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
table.compact tbody tr a {
  min-height: 3em;
}

table tbody tr a[title='SLC'] {
  min-height: 3.5em;
}

table span {
  display: block;
  clear: both;
  font-size: 0.9em;
  padding-top: 0.1em;
  opacity: 0.6;
}

table.cyaan th,
table.cyaan a:hover {
  background: rgba(25, 255, 255, 1);
}
table.cyaan td {
  background: rgba(229, 255, 255, 1);
}

table.magenta th,
table.magenta a:hover {
  background: rgba(255, 25, 255, 1);
  color: white;
}
table.magenta td {
  background: rgba(255, 229, 255, 1);
}

table.yellow th,
table.yellow a:hover {
  background: rgba(255, 229, 25, 1);
}
table.yellow td {
  background: rgba(255, 255, 225, 1);
}

table.key th,
table.key a:hover {
  background: rgb(51, 51, 51);
  color: white;
}

table td.profilering {
  background: #e1e1e1;
}

table td.blank {
  background: transparent;
}

/* ## propedeuse in en uitklap ## */
* ~ input[name='cluster']:first-of-type + label {
  margin-top: 1.5em;
}

.cluster.tabbed {
  display: none;
}

input[name='cluster'] {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

input[id='clusterCyaan']:checked ~ .cluster.tabbed[title='Cyaan'],
input[id='clusterMagenta']:checked ~ .cluster.tabbed[title='Magenta'],
input[id='clusterYellow']:checked ~ .cluster.tabbed[title='Yellow'],
input[id='clusterKey']:checked ~ .cluster.tabbed[title='Key'] {
  display: block;
  padding-top: 0.5em;
}

input[name='cluster'] + label {
  display: inline-block;
  margin: 0 0.5em 0.25em 0;
}

input[name='cluster'] + label:last-of-type {
  margin: 0;
}

input[name='cluster'] + label h2 {
  margin: 0;
  padding: 0.375em 0.5em;
  background: #eee;
  border-radius: 0.375em;
  transition: background 0.5s;
  font-size: 1em;
  font-weight: normal;
}

input[id='clusterCyaan']:hover + label h2,
input[id='clusterCyaan']:checked + label h2 {
  background: rgba(25, 245, 245, 1);
}

input[id='clusterMagenta']:hover + label h2,
input[id='clusterMagenta']:checked + label h2 {
  background: rgba(245, 25, 245, 1);
  color: white;
}

input[id='clusterYellow']:hover + label h2,
input[id='clusterYellow']:checked + label h2 {
  background: #fee219;
}

input[id='clusterKey']:hover + label h2,
input[id='clusterKey']:checked + label h2 {
  background: rgb(51, 51, 51);
  color: white;
}

input:focus + label h5 {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
